body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content:left;
    align-items:baseline;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}



h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

#container {
    width: 600px;
    height: 400px;
}

#cube-container, #torus-container, #video-container {
    margin: 20px auto;
    width: 600px;
    height: 400px;
}

#calendar-container {
    margin: 20px auto;
    width: 1200px;
    height: 800px;
}

/* Wrapper for maintaining aspect ratio */
.video-container {
    position: relative;
    width: 100%; /* Full width on smaller screens */
    padding-top: 80%; /* 16:9 Aspect Ratio (9 / 16 * 100) */
    margin: 10px auto; /* Adjust margin for smaller screens */
}

/* Video element inside the container */
.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Responsive styling for screens 768px and smaller */
@media (max-width: 768px) {
    #cube-container, #torus-container, #video-container {
        width: 100%; /* Full width on smaller screens */
        height: auto; /* Adjust height to maintain aspect ratio */
        margin: 10px auto; /* Adjust margin for smaller screens */
    }
}


/* Parallax effect styling */
#test_20 {
    background-color: #f0f0f0; /* For a solid color background */
    background-image: url('photos/pexels-alex-montes-892479-1820563.jpg');
    background-size: cover; /* Adjust the image to cover the entire background */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    background-attachment: fixed; /* Fix the background relative to the viewport */
    height: 100vh; /* Ensure the background covers the full viewport height */
}

.parallax .content {
    padding: 20px;
    background: rgba(0, 0, 0, 0.5); /* Optional: Add a semi-transparent background to improve text readability */
    border-radius: 10px;
}
